
body {
  background: #eee;
}

.form-wrap {
  .button-inner {
    padding: 20px 10px;
  }
  .button-submit {
    display: block;
    width: 100%;
    padding: 10px 0;
    background: #12c287;
    border: none;
    color: #fff;
  }

}
