
.ui-form-item {
  position: relative;
  background: #fff;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    right: 0;
    height: 1px;
    overflow: hidden;
    background: #eee;
  }
  &:first-child {
    &::after {
      display: none;
    }
  }
  &-wrap {
    display: flex;
    padding: 0 15px;
  }
  &-label {
    padding: 15px 10px 15px 0;
    flex: 1;
  }
  &-content {
    flex: 3;
  }
  &-help {
    min-height: 30px;
    line-height: 18px;
    padding: 6px 8px;
    margin: 0 15px;
    font-size: 12px;
    background: rgba(229,85,70,.1);
    color: #e55546;
  }
}
